<html>
    <head>
        <title>Sensores</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <style>
          
            body {
                font-family: sans-serif;
            }

            a {
                text-decoration: none;
                color: black;
            }

        </style>
    </head>
    <body>
        <h1><a href="../">Sensors</a></h1>
        <div class="container">
            <div>
                ID: {{ data[0]["id"] }} <br>
                Name: {{ data[0]["name"] }} <br>
                <h4 style="margin-bottom: 5px;">
                    Localização:
                </h4>
                {{ data[0]["loc"] }} <br>
                {{ data[0]["locd"] }} <br>
                <h4 style="margin-bottom: 5px;">
                    Unidade de medida:
                </h4>
                {{ data[0]["unit"] }} <br>
                {{ data[0]["unitd"] }} <br>
            </div>
        </div>
    </body>
</html>
